<div class="container">
    <div class="row mt-3 lsm">
        <app-sol-arama-menu class="col-sm-12 col-lg-22d22 card left-side-menu list-group list-group-flush p-0 transparent font-display-sm"></app-sol-arama-menu>
        <app-ana-sayfa-carousel class="col-sm-12 col-lg-77d78 text-right carousel-container pr-0"></app-ana-sayfa-carousel>
    </div>
    <app-firsat-araci-card></app-firsat-araci-card>
</div>
<div class="container-fluid gray-light-background mt-5">
    <div class="container pt-5 pb-5">
        <app-arac-listesi-filtre></app-arac-listesi-filtre>
    </div>
</div>
<div class="container px-0">
    <app-one-cikan-araclar class="container px-0"></app-one-cikan-araclar>
    <app-alt-banner></app-alt-banner>
</div>