<div class="row text-center font-weight-medium">
    <div class="col-lg-3 col-12 min-h-300px d-flex flex-column pr-lg-0">
        <div role="button" onclick="something()" class="d-flex gray-mid-background h-50 h-md-100 align-items-center px-3 mb-lg-0 mb-3 pt-lg-0 pb-lg-0 pt-5 pb-5">
            <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="icon-ultralg pl-1">
                <path fill="#e84c0f"
                    d="M0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V256H0v176zm192-68c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-40zm-128 0c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM576 80v48H0V80c0-26.5 21.5-48 48-48h480c26.5 0 48 21.5 48 48z"
                    class=""></path>
            </svg>
            <span class="pl-5">
                Araç Kredisinin En Kolayı
            </span>
        </div>
        <div role="button" onclick="something()" class="d-flex orange-background white-text h-50 h-md-100 align-items-center px-3 mb-lg-0 mb-3 pt-lg-0 pb-lg-0 pt-5 pb-5">
            <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon-ultralg pl-1">
                <path fill="white"
                    d="M400 0H48C22.4 0 0 22.4 0 48v416c0 25.6 22.4 48 48 48h352c25.6 0 48-22.4 48-48V48c0-25.6-22.4-48-48-48zm0 464H48V208h352v256zm0-304H48V48h352v112zM108.8 320h38.4c6.4 0 12.8-6.4 12.8-12.8v-38.4c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v38.4c0 6.4 6.4 12.8 12.8 12.8zm192 96h38.4c6.4 0 12.8-6.4 12.8-12.8V268.8c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v134.4c0 6.4 6.4 12.8 12.8 12.8zm-192 0h38.4c6.4 0 12.8-6.4 12.8-12.8v-38.4c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v38.4c0 6.4 6.4 12.8 12.8 12.8zm96-96h38.4c6.4 0 12.8-6.4 12.8-12.8v-38.4c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v38.4c0 6.4 6.4 12.8 12.8 12.8zm0 96h38.4c6.4 0 12.8-6.4 12.8-12.8v-38.4c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v38.4c0 6.4 6.4 12.8 12.8 12.8z">
                </path>
            </svg>
            <span class="pl-5">
                Kredi Hesaplama ve Başvuru ->
            </span>
        </div>
    </div>
    <div class="col-lg-9 col-12 d-lg-flex flex-lg-row d-block pl-lg-1">
        <div class="col-lg-6 col-12 px-0 mr-lg-1 min-h-300px-only-lg">
            <div role="button" onclick="something()" class="white-text embed-responsive embed-responsive-4by3 overflow-hidden h-100 mb-lg-0 mb-3">
                <img src="./assets/img/temp/ekspertiz_alt.jpg" class="img-thumbnail embed-responsive-item" alt="Audi a4">
                <div class="filter-dark-blue-t-21 d-flex align-items-center justify-content-center p-0">
                    Araca Özel Ekspertiz Raporu
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 px-0 ml-lg-1 min-h-300px-only-lg mt-lg-0 mt-3">
            <div role="button" onclick="something()" class="white-text embed-responsive embed-responsive-4by3 overflow-hidden h-100 mb-lg-0 mb-3">
                <img src="./assets/img/temp/kredi_karti_alt.jpg" class="img-thumbnail embed-responsive-item" alt="Audi a4">
                <div class="filter-dark-blue-t-21 d-flex align-items-center justify-content-center p-0">
                    Kredi Kartınızla Kolay Katılım
                </div>
            </div>
        </div>
    </div>
</div>