<div class="w-100 pb-3">
    <div class="d-flex flex-xl-row flex-lg-row flex-column-reverse text-left font-display-sm mb-2">
        <div class="mr-lg-auto gray-mid-background rounded p-1 px-3" *ngIf="aktifIhale">
            {{aktifIhale.baslik}} Başlangıç Zamanı
            <div class="w-100 orange-text mt-n1">
                {{aktifIhale.baslangicTarihi |date:'dd.MM.yyyy HH:mm'}}
            </div>
        </div>
        <div class="ml-lg-auto ml-lg-4 mb-lg-0 mb-5 d-flex flex-row">
            <a [routerLink]="" queryParamsHandling="merge" (click)="siralamaDegistir('baslangicFiyati')" role="button"
                class="ml-3 text-right d-flex flex-row">
                Açılış Fiyatı
                <div class="d-flex flex-column ml-1 mt-1">
                    <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon-exs">
                        <path [attr.fill]="order.key === 'baslangicFiyati' && order.reverse ? '#e84c0f' : '#8a8a89'"
                            d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z">
                        </path>
                    </svg>
                    <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon-exs mt-n1">
                        <path [attr.fill]="order.key === 'baslangicFiyati' && !order.reverse ? '#e84c0f' : '#8a8a89'" d=" M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569
                                0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224
                                284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373
                                24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                        </path>
                    </svg>
                </div>
            </a>
            <a [routerLink]="" queryParamsHandling="merge" (click)="siralamaDegistir('aracSonKm')" role="button"
                class="ml-3 text-right d-flex flex-row">
                Km
                <div class="d-flex flex-column ml-1 mt-1">
                    <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon-exs">
                        <path [attr.fill]="order.key === 'aracSonKm' && order.reverse ? '#e84c0f' : '#8a8a89'"
                            d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z">
                        </path>
                    </svg>
                    <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon-exs mt-n1">
                        <path [attr.fill]="order.key === 'aracSonKm' && !order.reverse ? '#e84c0f' : '#8a8a89'"
                            d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                        </path>
                    </svg>
                </div>
            </a>
            <a [routerLink]="" queryParamsHandling="merge" (click)="siralamaDegistir('aracYili')" role="button"
                class="ml-3 text-right d-flex flex-row">
                Yıl
                <div class="d-flex flex-column ml-1 mt-1">
                    <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon-exs">
                        <path [attr.fill]="order.key === 'aracYili' && order.reverse ? '#e84c0f' : '#8a8a89'"
                            d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z">
                        </path>
                    </svg>
                    <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon-exs mt-n1">
                        <path [attr.fill]="order.key === 'aracYili' && !order.reverse ? '#e84c0f' : '#8a8a89'"
                            d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                        </path>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
<div>
    <div class="card col-12 flex-row p-0 mb-4"
        *ngFor="let arac of araclar|orderBy:order.key:order.reverse|paginate:sayfalama">
        
        <a [routerLink]="['/ihale',arac.ihaleBilgisiId,'arac-detay', arac.id, arac.aracSeoUrl]"
            class="col-4 m-0 p-0 mb-2 mt-2 ml-2">
            <div class="img-16-6 img-thumbnail overflow-hidden position-relative pr-0 embed-responsive embed-responsive-4by3">                
                <div class="satilditxt"  *ngIf="arac.ihaleDurum === 1 || arac.ihaleDurum===2"
                [ngClass]="arac.ihaleDurum === 1 ? 'satildi' : arac.ihaleDurum === 2 ? 'satilmadi':''">SATILDI</div>
                
                <img [src]="(arac.aracResimleri|resimSec).thumbUrl || (arac.aracResimleri|resimSec).url" class="img-thumbnail embed-responsive-item"
                    [alt]="arac.aracAracAdi">
                <div [ngClass]="eskiArac(arac) ? 'orange-background' : 'green-background'"
                    class="position-absolute orange-background white-text text-center rotate-l-37d5 border-0 font-display-md font-weight-bold">
                    {{arac.aracYili}}
                </div>
            </div>
            <div class="position-absolute p-2 ml-1 fixed-left fixed-top white-text"
                style="text-shadow: 1px 1px 1px #000;" *ngIf="arac.ihaleDurum === 0 || arac.ihaleDurum === 4">
                {{arac.ihaleSirasi+1}}</div>
        </a>
        <div class="col-6 card-body pt-3 pb-0 gray-text">
            <a [routerLink]="['/ihale',arac.ihaleBilgisiId,'arac-detay', arac.id, arac.aracSeoUrl]">
                <h5 class="card-title dark-gray-text">{{arac.aracAracVersionModelMarkaAd | uppercase}}
                    {{arac.aracAracVersionModelAd | uppercase}}</h5>
                <figcaption class="figure-caption mt-1">
                    {{arac.aracAracVersionAd}}
                </figcaption>
            </a>
            <div class="gray-text p-0 mt-1 mb-2">
                {{arac.aracSonKm|numberTrFormat}}<sup>KM</sup>
            </div>
            <div *ngIf="arac.ihaleBilgisiIhaleTipi !== 2"
                class="border-top p-0 mt-3 pt-3 font-display-sm font-weight-medium">
                Açılış Fiyatı
            </div>
            <div *ngIf="arac.ihaleBilgisiIhaleTipi === 2"
                class="border-top p-0 mt-3 pt-3 font-display-sm font-weight-medium">
                Hemen Al Fiyatı
            </div>
            <div class="d-flex flex-row orange-text font-display-exlg font-weight-bold mt-n1">
                <div>
                    {{arac.baslangicFiyati|numberTrFormat}}
                    <sup>
                        <span class="orange-text">
                            ₺
                        </span>
                        <span class="gray-text font-display-exsm"> / KDV dahil</span>
                    </sup>
                </div>
            </div>
        </div>
        <div class="col-2 flex-column p-0 m-0 justify-content-around sag">
            <div class="star text-center p-4 mt-2px">
                <a class="gray-text font-display-exsm" [routerLink]="" queryParamsHandling="merge"
                    (click)="favoriEkleCikar(arac.id)">
                    <img class="icon-lg" *ngIf="!favoriIlanMi(arac.id)" src="assets/img/fontawesome/star-regular.svg">
                    <img class="icon-lg" *ngIf="favoriIlanMi(arac.id)" src="assets/img/fontawesome/star-solid.svg">
                </a>
            </div>
            <div class="text-center p-2 font-display-exsm border-bottom">
                {{arac.aracYili}}
            </div>
            <div class="text-center p-2 font-display-exsm border-bottom">
                {{arac.vitesTipiAd}}
            </div>
            <div class="text-center p-2 font-display-exsm">
                {{arac.yakitTipiAd}}
            </div>
        </div>
    </div>
</div>
<pagination-template #p="paginationApi" (pageChange)="sayfaDegisti($event)">
    <div
        class="d-flex flex-md-row flex-column w-100 justify-content-around ultra-dark-gray-text border-top font-display-sm">
        <div class="col-auto mx-auto mr-md-auto ml-md-0 text-left p-3 px-0">
            {{sayfalama.itemsPerPage > sayfalama.totalItems ? sayfalama.totalItems : sayfalama.itemsPerPage}} Araç
            Görüntüleniyor / {{sayfalama.totalItems}} Araç içinde
        </div>
        <div class="col-auto mx-auto ml-md-auto mr-md-0 mr-lg-0 mb-md-0 mb-n5 p-0 text-center">
            <nav aria-label="Pagination navigation">
                <ul class="pagination pagination-md small mb-0 mt-3 justify-content-center">
                    <li class="page-item" [class.disabled]="p.isFirstPage()">
                        <a class="page-link border-0 oklar" (click)="p.previous()" aria-label="Previous">
                            <span aria-hidden="true">‹</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" [class.active]="p.getCurrent() === page.value" *ngFor="let page of p.pages">
                        <a class="page-link border-0" (click)="p.setCurrent(page.value)">{{ page.label }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="p.isLastPage()">
                        <a class="page-link border-0 oklar" (click)="p.next()" aria-label="Next">
                            <span aria-hidden="true">›</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="d-flex flex-md-row flex-column w-100 ultra-dark-gray-text font-display-sm align-items-center mb-3">
        <div class="col-md-auto col-12 text-center text-md-left mt-5 mt-md-0 p-md-3 px-0">
            Her Sayfada
        </div>
        <div class="text-center p-0">
            <nav aria-label="Pagination navigation">
                <ul class="pagination pagination-md square mb-0">
                    <li class="page-item" [class.active]="sayfalama.itemsPerPage === 9"><a
                            class="page-link border-0 mr-2" (click)="sayfalama.itemsPerPage = 9">9</a></li>
                    <li class="page-item" [class.active]="sayfalama.itemsPerPage === 18"><a
                            class="page-link border-0 mr-2 gray-mid-background"
                            (click)="sayfalama.itemsPerPage = 18">18</a></li>
                    <li class="page-item" [class.active]="sayfalama.itemsPerPage === 27"><a
                            class="page-link border-0 mr-2 gray-mid-background"
                            (click)="sayfalama.itemsPerPage = 27">27</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-auto text-left p-3 px-0">
            Sonuç Göster
        </div>
    </div>
</pagination-template>