<h4 class="col-12 font-weight-medium">ELİT ÜYELİK</h4>
<div class="col-12 col-md-6 font-display-xs gray-text mr-auto p-0 px-3 mt-5">
    <h3 class="col-12 font-weight-medium orange-text px-0">ELİT ÜYE OLUN</h3>
    <div class="w-100 font-display-exsm mt-3 mb-5">
        Elit üye ayrıcalığı ile sizlere sunulan avantajlardan faydalanarak ihalelerimizde yer alabilirsiniz.
        <br>
        <br>
        Elit Üye olmak için şimdi talep oluşturun.
    </div>
    <a role="button" *ngIf="uyeBilgi" (click)="talepOlustur()"
        class="btn btn-block gray-ultra-dark-background rounded-0 text-monospace p-3 mt-2 white-text">
        TALEP OLUŞTUR
    </a>
</div>