.page-link{
    cursor: pointer;
}
.card-sec {
    &:hover {
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.35);
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.35);
    }
}
.card.listeleme:nth-child(3n+2) {
    border-left: 1px solid #dee2e6  !important;
    border-right: 1px solid #dee2e6  !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    margin-bottom: 1rem !important;
    border-radius: 0;
  }
  .card.listeleme {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    margin-bottom: 1rem !important;
  }

  .oklar {
    background: none !important;
    &:hover {
        background: none !important;
        color:#e84c0f !important;
    }
    &.disable:hover {
        color: inherit;
    }
}