<div class="container d-flex pt-4 mt-4 pb-4 ustlogo">
    <div class="col-12">
        <div class="col-12 text-center">
            <div class="col-10 m0-a mt-2"><img src="/assets/img/svg-logos/avec_ikinciel_logo.svg" alt="avec ikinci araç el ihale portalı" class="logo" /></div>
            
            <img src="/assets/img/static/gig_loading_bakimmodu.gif" alt="Sitemiz Bakım Aşamasındadır" class="mt-4 progressbar" />
            <h2 class="mt-4">Sitemiz Bakım Aşamasındadır...</h2> 
            <p>En kısa sürede sizlerle tekrar olacağız. Kısa sürecek bir bakım sebebi ile şu an sizlere hizmet verememekteyiz.</p>
            <p><a href="mailto:info@avec2el.com" class="orange-text"><b>info@avec2el.com</b></a> ve <a href="tel://+904446005" class="orange-text"><b>444 60 05</b></a> numaralı telefondan bizlere ulaşabilirsiniz.</p>
        </div>
    </div>
</div>

<div class="container mt-5 bottomfix">
    <div class="col-12 border-top text-center">
        <div class="row">
            <a href="https://pasaligrubu.com/" target="_blank" class="col-xl-2 col-md-3 col-sm-3 p-1 col-4 px-4">
            <img class="img-responsive" src="assets/img/static/logo/pasali-grubu.png" />
            </a>
            <a href="https://www.avek.com.tr/" target="_blank" class="col-xl-2 col-md-3 col-sm-3 p-1 col-4 px-4">
            <img class="img-responsive" src="assets/img/static/logo/avek-otommotiv.png" />
            </a>
            <a href="#" target="_blank" class="col-xl-2 col-md-3 col-sm-3 p-1 col-4 px-4">
            <img class="img-responsive" src="assets/img/static/logo/gurtas-yapi.png" />
            </a>
            <a href="https://www.avecrentacar.com/" target="_blank" class="col-xl-2 col-md-3 col-sm-3 p-1 col-4 px-4">
            <img class="img-responsive" src="assets/img/static/logo/avec-c.png" />
            </a>
            <a href="http://www.tronapay.com/tr/anasayfa" target="_blank" class="col-xl-2 col-md-3 col-sm-3 p-1 col-4 px-4">
            <img class="img-responsive" src="assets/img/static/logo/trona-pay.png" />
            </a>
            <a href="https://www.kleentech.com.tr/" target="_blank" class="col-xl-2 col-md-3 col-sm-3 p-1 col-4 px-4">
            <img class="img-responsive" src="assets/img/static/logo/kleen-tech.png" />
            </a>
        </div>
    </div>
</div>