<h4 class="col-12 font-weight-medium mb-3 mb-lg-0">BAKİYE YÜKLE</h4>
<div class="row" style="margin-top: 50px;">

    <div
        class="col-12 col-md-6 font-display-xs font-italic gray-text mr-auto p-5 pl-md-5 pr-md-3 mt-3 mt-md-n5 gray-rounded-on-sm">
        <div class="row">
            <span class="col-auto mr-auto">Bakiyeniz</span>
            <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                class="icon-ultralg ml-auto mr-2 mt-n1">
                <path fill="darkgray"
                    d="M0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V256H0v176zm192-68c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-40zm-128 0c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM576 80v48H0V80c0-26.5 21.5-48 48-48h480c26.5 0 48 21.5 48 48z"
                    class=""></path>
            </svg>
        </div>
        <a role="button" (click)="bakiyeYukle()"
            class="btn btn-block orange-background rounded-0 p-0 px-3 mt-4 d-flex-row d-flex align-items-center justify-content-middle"
            data-toggle="modal" data-target="#budget-info">
            <div class="font-display-ultralg mt-n2 mr-2 ml-auto">+</div>
            <div class="mr-auto">
                BAKİYE YÜKLE / EKLE
            </div>
        </a>
        <div class="w-100 font-display-exsm mt-3">
            Minimum 1000 TL bakiye yükleyebilirsiniz.
            <br>
            Yüklediğiniz bakiyenin ihale sonunda kullanmadığınız kısmı size iade edilecektir.
        </div>
    </div>
    <div class="col-12 col-md-6 font-display-xs gray-text ml-auto p-0 px-md-5 mt-5 mt-md-n3">
        <h3 class="col-12 font-weight-medium orange-text px-0">ELİT ÜYELİK</h3>
        <div class="w-100 font-display-exsm mt-3 mb-5">
            Elit üye ayrıcalığı ile sizlere sunulan avantajlardan faydalanarak ihalelerimizde yer alabilirsiniz.
            <br>
            <br>
            Elit Üye olmak için şimdi talep oluşturun.
        </div>
        <a href="#" type="submit" class="btn btn-block gray-ultra-dark-background rounded-0 text-monospace p-3 mt-2">
            TALEP OLUŞTUR
        </a>
    </div>
</div>